/*
* Custom variables
*/
$main-font: 'Lato', sans-serif;
$sub-font: 'Montserrat', sans-serif;
$fancy-font: 'Kaushan Script', cursive;
$font-size: 16px;
 
$black: #000;
$white: #FFF;
$grey: #585c65;
$mediumgrey: #9b9b9b;
$lightgrey: #eeeeee;
$blue: #3466a1;
 
$padding: 10px;
$margin: 10px;
 
/*
* Override Bootstrap variables
*/
$font-family-sans-serif: $main-font;



/* GENERAL MARKUP */

body{
	font-family:'Open Sans', Arial;
}


#header-nav{
	padding:10px 0 10px 0;
}

#mainnav{
	text-transform:uppercase;

  li>a{
    color:#fff;
    font-weight:600;

    &:hover,
    &:active{
      background-color:#ECF0F1;
      color:#3498DB;
    }

    &.btn{
      color:#fff;
      font-weight:normal;
    }
  }
}

#branding{
  h1{

  }

  img{
    height:40px;
  }
}

#header-social{
	padding:8px 0 0 10px;

  a{

    &:hover{
      color:#fff;
    }

  }
}

.share-button{

}


.twitter{
	color:#fff;
	background-color:#55acee;
	border-color:#55acee;
}


#headline{
	margin:70px 0 0 0;
	text-align:center;
	padding:30px 0 30px 0;
}

#feature-slider{
	text-align:left;
	padding-top:10px;

  .logo{
    width:150px;
    padding:10px;
  }

  .rslides{
    height:450px;
  }
}


.intro-content{
  text-align:left;
  padding-top:10px;

  h2{
    font-weight:800;
    font-size:32px;
  }

  p{
    font-weight:normal;
    font-size:20px;
  }

  .title{

  }

  .title-img{
    width:100px;
    padding-top:20px;
  }

}


.extra-content{
}

.item{
	border:1px solid #ccc;
	width:150px;
	height:auto;
	margin:5px;
	background-color:#fff;
	border-radius:5px;
	float:left;

  &.extra-fit{
    width:80px;
  }

  &.fit{
    width:100px;
  }

  &.small{
    width:120px;
  }

  &.medium{
    width:150px;
  }

  &.large{
    width:250px;
  }

  &.extra-large{
    width:300px;
  }
}




#my-big-image{
	width:300px;
	margin:auto auto;
}

#my-small-image{
	width:250px;
	margin:auto auto;
	margin-bottom:20px;
  padding-top:20px;

  @media (min-width: 480px) {
    padding-top:50px !important;
  }
}

#bundles{
	padding:20px 0 0 0;
}

.bundle-icon{
	padding:30px 0;

  .bundle-icon-green{
    color:#2ECC71;
  }

  .bundle-icon-silver{
    color:#7F8C8D;
  }

  .bundle-icon-gold{
    color:#F1C40F;
  }
}


footer{
  padding:20px 0 10px 0;
}
















/* MULTIPURPOSE TILES */



.tile {
  background-color: #DADADA;
  border-radius: 6px;
  padding: 14px;
  position: relative;
  text-align: center;
  margin-bottom:10px;

  p{
    font-size: 15px;
    margin-bottom: 33px;
  }

  .tile-hot{
    &:before{
      background: url(../images/tile/ribbon.png) 0 0 no-repeat;
      background-size: 82px 82px;
      content: '';
      height: 82px;
      position: absolute;
      right: -4px;
      top: -4px;
      width: 82px;
    }
  }
}

.tile-image {
  height: 100px;
  margin: 31px 0 27px;
  vertical-align: bottom;

  .big-illustration{
    height: 111px;
    margin-top: 20px;
    width: 112px;
  }
}


.tile-title {
  font-size: 20px;
  margin: 0;
}


















/* BACKGROUND COLORS */

.bg{
  h1,h2,h3,h4,h5,h6{
    color:#fff;
  }

  p{
    color: rgba(255, 255, 255, 0.8);
  }

  a{
    color: rgba(255, 255, 255, 0.8);
  }

  &.orange{
    background: #f05444;
    color: #fff;
  }

  &.blue{
    background: #06a9ef;
    color: #fff;
  }

  &.green{
    background: #4fa950;
    color: #fff;
  }

  &.cool-black{
    background: #333333;
    color: #fff;
  }

  &.grey{
    background: #888888;
    color: #fff;
  }

  &.yellow{
    background: #ffa93c;
    color: #fff;
  }

  &.pink{
    background: #d8335b;
    color: #fff;
  }

  &.black{
    background: #000000;
    color: #fff;
  }

  &.red{
    background: #ce483d;
    color: #fff;
  }

  &.darker-bg{
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
  }

  &.silver{
    background: #bdc3c7;
    color: #fff;
  }

  &.light-grey{
    background: #f5f5f5;

    p{
      color: #666;
    }

    h1,h2,h3,h4,h5,h6{
      color: #333;
    }
  }

  &.struckaxiom{
    background:url('../images/struckaxiom.png'); 
  }

  &.echeresque{
    background:url('../images/escheresque.png');
  }

  &.struckaxiom, &.echeresque{
    p{
      color: #666;
    }

    h1,h2,h3,h4,h5,h6{
      color: #333;
    }
  }

  &.icon{
    &.small{
      &.code{
        background:url(../images/code-01.png) no-repeat;
        background-size:38px;
      }

      &.laptop{
        background:url(../images/laptop-01.png) no-repeat;
        background-size:38px;
      }

      &.life{
        background:url(../images/life-01.png) no-repeat;
        background-size:38px;
      }

      &.game{
        background:url(../images/game-01.png) no-repeat;
        background-size:38px;
      }

    }
  }
}














/* BUTTONS */

.btn{
  &.btn-flat{
    border: none;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
    padding: 10px 20px;
    font-weight: normal;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;


    &:hover{
      background: rgba(0, 0, 0, 0.6);
    }

    &.bordered{
      border: rgba(0, 0, 0, 0.1) solid 1px;
      box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0;
    }

    &.btn-orange{
      background: #f05444;

      &:hover{
        background: #d62411;
      }
    }

    &.btn-bright-orange{
      background: #ea9431;

      &:hover{
        background: #bb6d13;
      }
    }

    &.btn-blue{
      background: #06a9ef;

      &:hover{
        background: #0474a4;
      }
    }






    &.btn-green{
      background: #4fa950;

      &:hover{
        background: #377537;
      }
    }

    &.btn-yellow{
      background: #ffa93c;

      &:hover{
        background: #ef8500;
      }
    }

    &.btn-pink{
      background: #d8335b;

      &:hover{
        background: #a01f3e;
      }
    }

    &.btn-red{
      background: #ce483d;

      &:hover{
        background: #982f26;
      }
    }

    &.btn-bg-darker{
      background: rgba(0, 0, 0, 0.4);

      &:hover{
        background: rgba(0, 0, 0, 0.6);
      }
    }

    &.btn-dark-grey{
      background: #333333;

      &:hover{
        background: #0d0d0d;
      }
    }

    &.btn-large{
      padding: 15px 40px;
      border-radius: 5px;

    }

    &.btn-small{
      font-size: 12px;
      padding: 5px 15px;
      letter-spacing: 1px;

    }


  }

}















/* CONTENT GROUPS */



.content-group {
  background: rgba(0, 0, 0, 0.05);
  padding: 30px 50px 50px 50px;
  position: relative;

  h2{
    font-size:42px;
    font-weight:600;
    padding-bottom:25px;
  }

  h3{
    font-size:28px;
    padding-bottom:10px;
  }

  .description{
    position:relative;

    .description-link{
      margin-top:20px;
    }

    p{
      line-height:1.9em;
    }
  }


}



















 /* RESPONSIVE SLIDE */

  .rslides {
  margin: 0 auto;
  }

.rslides_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/slider-nav.gif") no-repeat left top;
  margin-top: -45px;

    &:active{
      opacity: 1.0;
    }

    &:focus{
      outline: none;
    }

    &.next{
      left: auto;
      background-position: right top;
      right: 0;
    }




  }



.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;

  &:focus{
    outline: none;
  }

  &.next{
    left: auto;
    right: 0;
  }
}



.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("../images/slider-nav.gif") no-repeat left 50%;
  width: 38px;

  &:active{
    opacity: 1.0;
  }

  &:focus{
    outline: none;
  }

  &.next{
    left: auto;
    background-position: right 50%;
    right: 0;
  }
}



.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;

  

  li{
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 5px;
  }

  a{
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ccc;
    background: rgba(0,0,0, .2);
    display: inline-block;
    _display: block;
    *display: block;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    width: 9px;
    height: 9px;
  }


}





.centered-btns_here,
.transparent-btns_here,
.large-btns_here {
  
  a{
    background: #222;
    background: rgba(0,0,0, .8);
  }

}











/* MEDIA QUERIES */


@media (max-width: 480px) {


  body {
    padding: 0;
  }
  body > section {
    padding: 30px 20px;
  }
  .hero-unit {
    margin-bottom: 0;
  }
  .hero-unit h1 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .hero-unit h2 {
    font-size: 26px;
  }
  .hero-unit p.lead {
    font-size: 16px;
  }
  .featured {
    background-size: auto;
    background-position: center;
  }
  .featured .intro h1 {
    font-size: 36px;
  }
  .features.features-list2 li {
    margin-bottom: 30px;
  }
  .features.features-list2 li .icons {
    float: left;
  }
  .features.features-list2 li .content {
    text-align: left;
    margin-left: 120px;
  }






  .intro-content{
    .xs-center{
      text-align:center;
    }
  }

}




/* INSTAGRAM STYLES */

.fancy-font {
    font-family: $fancy-font;
}

.instagram-wrap {
    background: $lightgrey;
}
 
.instagram-content {
    h3 {
        text-transform: uppercase;
        letter-spacing: 0.5em;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        padding: $padding*5 0;
        color: darken($lightgrey, 20%);
    }
 
}

.photo-box {
        margin: 0 0 $margin*3 0;
 
        .image-wrap {
            img {
                width: 100%;
                height:200px;
            }
 
            .likes {
                position: absolute;
                bottom: 5px;
                left: 15px;
                padding: $padding/2;
                background: $black;
                background: rgba($black, 0.4);
                color: $white;
            }
        }
        .description {
            font-family: $main-font;
            font-size: 13px;
            background: $white;
            color: #333;
            letter-spacing: 1px;
            padding: $padding*1.5;
            height: 150px;
            /* overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; */

            .title{
              font-weight:600;
              font-size:14px;
              color:#333;
            }

            a{
              &.desc-link{
                clear:both;
              }
              color: $blue;
            }
        }
    }