/*
* Custom variables
*/
/*
* Override Bootstrap variables
*/
/* GENERAL MARKUP */
body {
  font-family: 'Open Sans', Arial; }

#header-nav {
  padding: 10px 0 10px 0; }

#mainnav {
  text-transform: uppercase; }
  #mainnav li > a {
    color: #fff;
    font-weight: 600; }
    #mainnav li > a:hover,
    #mainnav li > a:active {
      background-color: #ECF0F1;
      color: #3498DB; }
    #mainnav li > a.btn {
      color: #fff;
      font-weight: normal; }

#branding img {
  height: 40px; }

#header-social {
  padding: 8px 0 0 10px; }
  #header-social a:hover {
    color: #fff; }

.twitter {
  color: #fff;
  background-color: #55acee;
  border-color: #55acee; }

#headline {
  margin: 70px 0 0 0;
  text-align: center;
  padding: 30px 0 30px 0; }

#feature-slider {
  text-align: left;
  padding-top: 10px; }
  #feature-slider .logo {
    width: 150px;
    padding: 10px; }
  #feature-slider .rslides {
    height: 450px; }

.intro-content {
  text-align: left;
  padding-top: 10px; }
  .intro-content h2 {
    font-weight: 800;
    font-size: 32px; }
  .intro-content p {
    font-weight: normal;
    font-size: 20px; }
  .intro-content .title-img {
    width: 100px;
    padding-top: 20px; }

.item {
  border: 1px solid #ccc;
  width: 150px;
  height: auto;
  margin: 5px;
  background-color: #fff;
  border-radius: 5px;
  float: left; }
  .item.extra-fit {
    width: 80px; }
  .item.fit {
    width: 100px; }
  .item.small {
    width: 120px; }
  .item.medium {
    width: 150px; }
  .item.large {
    width: 250px; }
  .item.extra-large {
    width: 300px; }

#my-big-image {
  width: 300px;
  margin: auto auto; }

#my-small-image {
  width: 250px;
  margin: auto auto;
  margin-bottom: 20px;
  padding-top: 20px; }
  @media (min-width: 480px) {
    #my-small-image {
      padding-top: 50px !important; } }

#bundles {
  padding: 20px 0 0 0; }

.bundle-icon {
  padding: 30px 0; }
  .bundle-icon .bundle-icon-green {
    color: #2ECC71; }
  .bundle-icon .bundle-icon-silver {
    color: #7F8C8D; }
  .bundle-icon .bundle-icon-gold {
    color: #F1C40F; }

footer {
  padding: 20px 0 10px 0; }

/* MULTIPURPOSE TILES */
.tile {
  background-color: #DADADA;
  border-radius: 6px;
  padding: 14px;
  position: relative;
  text-align: center;
  margin-bottom: 10px; }
  .tile p {
    font-size: 15px;
    margin-bottom: 33px; }
  .tile .tile-hot:before {
    background: url(../images/tile/ribbon.png) 0 0 no-repeat;
    background-size: 82px 82px;
    content: '';
    height: 82px;
    position: absolute;
    right: -4px;
    top: -4px;
    width: 82px; }

.tile-image {
  height: 100px;
  margin: 31px 0 27px;
  vertical-align: bottom; }
  .tile-image .big-illustration {
    height: 111px;
    margin-top: 20px;
    width: 112px; }

.tile-title {
  font-size: 20px;
  margin: 0; }

/* BACKGROUND COLORS */
.bg h1, .bg h2, .bg h3, .bg h4, .bg h5, .bg h6 {
  color: #fff; }

.bg p {
  color: rgba(255, 255, 255, 0.8); }

.bg a {
  color: rgba(255, 255, 255, 0.8); }

.bg.orange {
  background: #f05444;
  color: #fff; }

.bg.blue {
  background: #06a9ef;
  color: #fff; }

.bg.green {
  background: #4fa950;
  color: #fff; }

.bg.cool-black {
  background: #333333;
  color: #fff; }

.bg.grey {
  background: #888888;
  color: #fff; }

.bg.yellow {
  background: #ffa93c;
  color: #fff; }

.bg.pink {
  background: #d8335b;
  color: #fff; }

.bg.black {
  background: #000000;
  color: #fff; }

.bg.red {
  background: #ce483d;
  color: #fff; }

.bg.darker-bg {
  background: rgba(0, 0, 0, 0.1);
  color: #fff; }

.bg.silver {
  background: #bdc3c7;
  color: #fff; }

.bg.light-grey {
  background: #f5f5f5; }
  .bg.light-grey p {
    color: #666; }
  .bg.light-grey h1, .bg.light-grey h2, .bg.light-grey h3, .bg.light-grey h4, .bg.light-grey h5, .bg.light-grey h6 {
    color: #333; }

.bg.struckaxiom {
  background: url("../images/struckaxiom.png"); }

.bg.echeresque {
  background: url("../images/escheresque.png"); }

.bg.struckaxiom p, .bg.echeresque p {
  color: #666; }

.bg.struckaxiom h1, .bg.struckaxiom h2, .bg.struckaxiom h3, .bg.struckaxiom h4, .bg.struckaxiom h5, .bg.struckaxiom h6, .bg.echeresque h1, .bg.echeresque h2, .bg.echeresque h3, .bg.echeresque h4, .bg.echeresque h5, .bg.echeresque h6 {
  color: #333; }

.bg.icon.small.code {
  background: url(../images/code-01.png) no-repeat;
  background-size: 38px; }

.bg.icon.small.laptop {
  background: url(../images/laptop-01.png) no-repeat;
  background-size: 38px; }

.bg.icon.small.life {
  background: url(../images/life-01.png) no-repeat;
  background-size: 38px; }

.bg.icon.small.game {
  background: url(../images/game-01.png) no-repeat;
  background-size: 38px; }

/* BUTTONS */
.btn.btn-flat {
  border: none;
  box-shadow: none;
  color: #fff;
  text-shadow: none;
  padding: 10px 20px;
  font-weight: normal;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease; }
  .btn.btn-flat:hover {
    background: rgba(0, 0, 0, 0.6); }
  .btn.btn-flat.bordered {
    border: rgba(0, 0, 0, 0.1) solid 1px;
    box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0; }
  .btn.btn-flat.btn-orange {
    background: #f05444; }
    .btn.btn-flat.btn-orange:hover {
      background: #d62411; }
  .btn.btn-flat.btn-bright-orange {
    background: #ea9431; }
    .btn.btn-flat.btn-bright-orange:hover {
      background: #bb6d13; }
  .btn.btn-flat.btn-blue {
    background: #06a9ef; }
    .btn.btn-flat.btn-blue:hover {
      background: #0474a4; }
  .btn.btn-flat.btn-green {
    background: #4fa950; }
    .btn.btn-flat.btn-green:hover {
      background: #377537; }
  .btn.btn-flat.btn-yellow {
    background: #ffa93c; }
    .btn.btn-flat.btn-yellow:hover {
      background: #ef8500; }
  .btn.btn-flat.btn-pink {
    background: #d8335b; }
    .btn.btn-flat.btn-pink:hover {
      background: #a01f3e; }
  .btn.btn-flat.btn-red {
    background: #ce483d; }
    .btn.btn-flat.btn-red:hover {
      background: #982f26; }
  .btn.btn-flat.btn-bg-darker {
    background: rgba(0, 0, 0, 0.4); }
    .btn.btn-flat.btn-bg-darker:hover {
      background: rgba(0, 0, 0, 0.6); }
  .btn.btn-flat.btn-dark-grey {
    background: #333333; }
    .btn.btn-flat.btn-dark-grey:hover {
      background: #0d0d0d; }
  .btn.btn-flat.btn-large {
    padding: 15px 40px;
    border-radius: 5px; }
  .btn.btn-flat.btn-small {
    font-size: 12px;
    padding: 5px 15px;
    letter-spacing: 1px; }

/* CONTENT GROUPS */
.content-group {
  background: rgba(0, 0, 0, 0.05);
  padding: 30px 50px 50px 50px;
  position: relative; }
  .content-group h2 {
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 25px; }
  .content-group h3 {
    font-size: 28px;
    padding-bottom: 10px; }
  .content-group .description {
    position: relative; }
    .content-group .description .description-link {
      margin-top: 20px; }
    .content-group .description p {
      line-height: 1.9em; }

/* RESPONSIVE SLIDE */
.rslides {
  margin: 0 auto; }

.rslides_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%; }

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/slider-nav.gif") no-repeat left top;
  margin-top: -45px; }
  .centered-btns_nav:active {
    opacity: 1.0; }
  .centered-btns_nav:focus {
    outline: none; }
  .centered-btns_nav.next {
    left: auto;
    background-position: right top;
    right: 0; }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  left: 0;
  display: block;
  background: #fff;
  /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%; }
  .transparent-btns_nav:focus {
    outline: none; }
  .transparent-btns_nav.next {
    left: auto;
    right: 0; }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("../images/slider-nav.gif") no-repeat left 50%;
  width: 38px; }
  .large-btns_nav:active {
    opacity: 1.0; }
  .large-btns_nav:focus {
    outline: none; }
  .large-btns_nav.next {
    left: auto;
    background-position: right 50%;
    right: 0; }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center; }
  .centered-btns_tabs li,
  .transparent-btns_tabs li,
  .large-btns_tabs li {
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 5px; }
  .centered-btns_tabs a,
  .transparent-btns_tabs a,
  .large-btns_tabs a {
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ccc;
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    _display: block;
    *display: block;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
    width: 9px;
    height: 9px; }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0, 0, 0, 0.8); }

/* MEDIA QUERIES */
@media (max-width: 480px) {
  body {
    padding: 0; }
  body > section {
    padding: 30px 20px; }
  .hero-unit {
    margin-bottom: 0; }
  .hero-unit h1 {
    font-size: 30px;
    margin-bottom: 5px; }
  .hero-unit h2 {
    font-size: 26px; }
  .hero-unit p.lead {
    font-size: 16px; }
  .featured {
    background-size: auto;
    background-position: center; }
  .featured .intro h1 {
    font-size: 36px; }
  .features.features-list2 li {
    margin-bottom: 30px; }
  .features.features-list2 li .icons {
    float: left; }
  .features.features-list2 li .content {
    text-align: left;
    margin-left: 120px; }
  .intro-content .xs-center {
    text-align: center; } }

/* INSTAGRAM STYLES */
.fancy-font {
  font-family: "Kaushan Script", cursive; }

.instagram-wrap {
  background: #eeeeee; }

.instagram-content h3 {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 50px 0;
  color: #bbbbbb; }

.photo-box {
  margin: 0 0 30px 0;
  border: 1px solid #ccc; }
  .photo-box .image-wrap img {
    width: 100%;
    height: 200px; }
  .photo-box .image-wrap .likes {
    position: absolute;
    bottom: 5px;
    left: 15px;
    padding: 5px;
    background: #000;
    background: rgba(0, 0, 0, 0.4);
    color: #FFF; }
  .photo-box .description {
    font-family: "Lato", sans-serif;
    font-size: 13px;
    background: #FFF;
    color: #333;
    letter-spacing: 1px;
    padding: 15px;
    height: 150px;
    /* overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; */
    border-top: 1px solid #ccc; }
    .photo-box .description .title {
      font-weight: 600;
      font-size: 14px;
      color: #333; }
    .photo-box .description a {
      color: #3466a1; }
      .photo-box .description a.desc-link {
        clear: both; }
